# Ignore everything by default
*

# Except these
!.gitignore
!.ackrc
!.aliases
!.bash_profile
!.bash_prompt
!.bashrc
!.exports
!.functions
!.gemrc
!.gitattributes
!.gitcompletion
!.gitconfig
!.hushlogin
!.inputrc
!.vimrc
!.bin/
!.chef/knife.rb
!.ssh/config
